# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../testDLM\.idea/codestream.xml
# Datasource local storage ignored files
/../../../../../:\projects\personal\testDLM\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
